<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8">
    <title>AWT Progress</title>
    <script
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link rel="stylesheet" href="s.css">
  </head>
  <body ng-controller="MainCtrl">
    <h1>AWT Progress</h1>
    <div class="folder" ng-repeat="folder in data.Class">
      <h2>{{folder.name}}</h2>

      <!-- If the folder has subfolders (Class) -->
      <div class="subfolder" ng-repeat="sub in folder.subfolders">
        <h3>{{sub.name}}</h3>
        <ul>
          <li ng-repeat="file in sub.files">
            <a ng-href="{{file.path}}">{{file.name}}</a>
          </li>
        </ul>
      </div>

      <!-- If the folder has direct files (Lab Experiments) -->
      <ul ng-if="folder.files">
        <li ng-repeat="file in folder.files">
          <a ng-href="{{file.path}}">{{file.name}}</a>
        </li>
      </ul>
    </div>

    <script>
        angular.module('myApp', [])
            .controller('MainCtrl', function($scope, $http) {
                $http.get('data.json')
                    .then(function(response) {
                        $scope.data = response.data;
                    })
                    .catch(function(error) {
                        console.error("Error fetching data:", error);
                    });
            });
    </script>

 <footer style="text-align:center; padding:20px; color:#00ffc3;">
    <p>Created by <strong>Sonal</strong></p>
    <p>
        <a href="https://github.com/sonall12376/awt_01" 
           target="_blank" 
           style="color:#00bfff; text-decoration:none;">
           View Source Code on GitHub
        </a>
    </p>
</footer>


  </body>
</html>
